
<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img class="imgSlide" src="/assets/slider/ps5VER.png" />
      <div class="bgImg"></div>

      <div class="content">
        <h3>New PS5</h3>
        <p>Lorem ipsum dolor sit amet</p>
        <a href="#" class="btnNext">Next </a>
      </div>
    </ion-slide>
    <ion-slide>
      <img class="imgSlide" src="/assets/slider/Pc.png" />
      <div class="bgImg"></div>

      <div class="content">
        <h3>Pc Gaming</h3>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </ion-slide>
    <ion-slide>
      <img class="imgSlide"  src="/assets/slider/XBOX_SS.png" />
      <div class="bgImg"></div>

<div class="content">
        <h3>New Xbox Series S</h3>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
